@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./charm-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./charm-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./great-vibes.ttf) format('truetype');
}
